FLASK_APP=superset
FLASK_ENV=development
PYTHONPATH=E:\\sphinxjsc\\SUPERSET_LOCAL\\superset
SUPERSET_CONFIG_PATH=E:\\sphinxjsc\\SUPERSET_LOCAL\\superset\\superset_config.py
SUPERSET_HOME=E:\\sphinxjsc\\SUPERSET_LOCAL\\superset

# FLASK_APP=superset
# FLASK_ENV=development
# PYTHONPATH=E:\\sphinxjsc\\SUPERSET_LOCAL\\superset
# SUPERSET_CONFIG_PATH=E:\\sphinxjsc\\SUPERSET_LOCAL\\superset\\superset_config.py
# SUPERSET_HOME=E:\\sphinxjsc\\SUPERSET_LOCAL\\superset